{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!---TITLE TAG-->
  <title>The Yend Company</title>
  <!---META TAGS-->
  <meta http-equiv='content-language' content='en-gb'>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="theme-color" content="#000000">
  <meta name="description" content="YEND-This a parent company co-founded by three aspiring young entrepreneurs...">
  <meta name="keywords" content="yend, YEND, Yend, Yend.com, theyendcompany, The Yend company, Theyendcompany, THE YEND COMPANY">
  <meta property="og:title" content="Yend" />
  <meta property="og:type" content="Parent Company" />
  <meta property="og:url" content="https://mathelogy.netlify.app/" />
  <meta property="og:image" content="https://mathelogy.netlify.app/assets/img/mainlogo.png" />
  <meta property="og:description" content="YEND-This a parent company co-founded by three aspiring young entrepreneurs..."/>
  <!--CANONICAL-->
  <link rel="canonical" href="https://mathelogy.netlify.app/" />
  <!--MANIFEST-->
  <link rel="manifest" href="manifest.json">
  <!---Favicon-->
  <link rel="shortcut icon" href="./favicon.ICON" type="image/x-icon" />
     
    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
</head>
<body class="bg-black mx-1">
    <header>
        <nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">
      <div class="d-flex" style="height: 35px;">
      <img src="{% static 'img/YEND-LOGO.png' %}" alt="Bootstrap" width="40" height="33">
      
        <div class="vr text-secondary mx-2"></div>

        <b class="fw-bold h2" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        "><span class="text-warning">¥</span><span class="text-white">END</span></b>

      </div>
    </a>
    <!-- <h1 class="navbar-brand diaplay-1 fw-bolder">
      <span class="fw-bolder text-warning h2">¥</span><span class="fw-bold text-white h3">END</span>
    </h1> -->
    <button class="navbar-toggler p-0" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-border-width text-white" viewBox="0 0 16 16">
            <path d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </span>
    </button>
    <!-- Modal -->
<div class="modal fade d-lg-none bg-transparent" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
     <div class="modal-content bg-dark">
        <div class="modal-header border-bottom border-secondary">
          <h1 class="modal-title diaplay-1 fw-bolder" id="staticBackdropLabel">
            <span class="fw-bolder text-white h2">Menu</span>
          </h1>
        <button type="button" class="btn btn-dark text-white fw-bolder p-0" data-bs-dismiss="modal" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-octagon" viewBox="0 0 16 16">
                <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
        </button>
        </div>
        <div class="modal-body border-0">
          <nav class="nav nav-underline link-underline-secondary flex-column">
            <a class="nav-link text-white fw-bold active" aria-current="page" href="{% url 'index' %}"><span class="font-monospace display-6 text-secondary"></span> <span class="ms-2 h5">Home</span></a>
            <a class="nav-link text-white fw-bold" href="{% url 'about' %}"><span class="font-monospace display-6 text-secondary"></span> <span class="ms-2 h5">About</span></a>
            <a class="nav-link text-white fw-bold" href="https://theyendcompany.medium.com"><span class="font-monospace display-6 text-secondary"></span> <span class="ms-2 h5">Blog</span></a>
            <a class="nav-link text-white fw-bold" href="{% url 'contact' %}"> <span class="font-monospace display-6 text-secondary"></span> <span class="ms-2 h5">Contact Us</span></a>
          </nav>
        </div>
      </div>
    </div>
  </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav nav-underline ms-auto text-white">
            <li class="nav-item">
              <a class="nav-link text-white fw-semibold mx-1 fw-bold active" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fw-semibold mx-1 fw-bold" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fw-semibold mx-1 fw-bold" href="https://theyendcompany.medium.com">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fw-semibold mx-1 fw-bold" href="{% url 'contact' %}">Contact Us</a>
            </li>
        </ul>
    </div>
  </div>
</nav>
    </header>
 
    <main>
      <!-- <video playsinline="playsinline" muted="muted" loop="loop" autoplay="autoplay">
        <source src="{% static 'img/video.mp4' %}" type="video/mp4">
      </video> -->
      <div class="container-fluid">
      <h1 class="text-warning fw-bolder title">BEING LIMITLESS IS OUR ONLY LIMIT!</h1>
      
      <p class="para">"We are a dynamic entrepreneurial firm that embraces risk-taking and constantly seeks
         out new opportunities to innovate and achieve success. Our unwavering commitment is to deliver 
        top-notch products and services that not only meet, but exceed, the expectations of our customers.
      </p>
      </div>
    </main>
    
    <footer class="container-fluid fixed-bottom">
        <!-- <p class="float-end">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-square text-secondary" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                </svg>
            </a>
        </p> -->
        <p><B>© 2023 YEND, Inc</B> . </p>
      </footer>
    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>


<style>
  video
  {
    height: 100vh;
    width: 100%;
    filter: blur(0px);
    position: absolute; 
    right: 0; 
    bottom: 0;
    z-index: -5;
  }
.para
  {
    text-align: center;
    padding-top: 6vh;
    padding-inline: 10px;
    color: rgb(182, 182, 182);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 23px;
    
  }
.title
  {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px 20px rgba(201, 121, 0, 0.692); 
    margin-top: 15vh;
    font-size: 70px;
  }
@media only screen and (max-width:768px){
    .title
    {
        margin-top: 7vh;
        font-size: 40px;
    }
    .para
    {
        font-size: 18px;
    }
}
</style>