<nav class="nav nav-underline link-underline-secondary flex-column">
    <a class="nav-link text-white fw-bold active" aria-current="page" href="{% url 'index' %}"><span class="font-monospace display-6 text-secondary">01</span> <span class="ms-2 h5">Home</span></a>
    <a class="nav-link text-white fw-bold" href="{% url 'about' %}"><span class="font-monospace display-6 text-secondary">02</span> <span class="ms-2 h5">About</span></a>
    <a class="nav-link text-white fw-bold" href="#"><span class="font-monospace display-6 text-secondary">03</span> <span class="ms-2 h5">Blog</span></a>
    <a class="nav-link text-white fw-bold" href="{% url 'contact' %}"> <span class="font-monospace display-6 text-secondary">04</span> <span class="ms-2 h5">Contact Us</span></a>
  </nav>
</div>
</div>
</div>
</div>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav nav nav-underline ms-auto text-white">
    <li class="nav-item">
      <a class="nav-link text-white fw-semibold mx-1 fw-bold active" aria-current="page" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white fw-semibold mx-1 fw-bold" href="{% url 'about' %}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white fw-semibold mx-1 fw-bold" href="">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white fw-semibold mx-1 fw-bold" href="{% url 'contact' %}">Contact Us</a>
    </li>
</ul>
</div>
</div>
</nav>